html,
body {
    background: linear-gradient(180deg, rgb(212, 228, 56) 10%, rgb(190, 206, 53) 25%, rgb(149, 161, 41) 40%, rgb(104, 112, 30) 70%, rgb(71, 77, 19) 100%)!important;
  /* background-color: #D4E438 !important; */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

