.nav {
    background-color: #F7FEB9;
}
.nav_menu_color{
    color: black !important;
}
.contenu {
    background-color: #FDFFEE;
    padding-top: 2em;
    padding-bottom: 2em;
}

.contenuService {
    background-color: #FDFFEE;
    padding-top: 2em;
    /* padding-bottom: 17em; */
    padding-right: 2em;
    padding-left: 2em;
}

.signupAndIn {
    background-color: #FDFFEE;
}

/*.background{
    background-color: #D4E438;
}*/

.footer {
    background-color: #afbd2f;
    /* background-color: #D4E438; */
}

.buttonConnect {
    background-color: #4A5200 !important;
    color: #D4E438 !important;
}

.buttonConnect:hover {
    background-color: #D4E438 !important;
    color: #4A5200 !important;
}



.category {
    width: 15em;
    height: 18em;
}

.img-exemple {
    background-color: #4A5200;
    border-radius: 10%;
    width: 240px;
    height: 220px;
    box-shadow: 10px 5px 5px black;
    cursor: pointer;
}

.img-produit-exemple .check{
    cursor: pointer;
}

.img-produit-exemple {
    background-color: #4A5200;
    border-radius: 10%;
    width: 200px;
    height: 100px;
    box-shadow: 10px 5px 5px black;
    cursor: default;
}


.collapse a:hover {
    background-color: #4A5200;
    color: #D4E438;
    border-radius: 10%;
}

.registerStyle {
    color: black;
}

.registerStyle:hover {
    color: #4A5200;
}

.linkDontDecor {
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    color: black;

}

.linkDontDecor:hover {
    color: #4A5200;

}

.linkDontDecorProduit {
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    color: black;

}

.linkDontDecorProduit:hover {
    color: #D4E438;

}

.check{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #D4E438;
}

footer {
    bottom: 0;
}

.d-flex {
    display: -moz-box !important;
    display: flex !important;
    flex-wrap: wrap;
}

.profilButton{
    color: white;
    text-decoration: none;
}

.facture{
    background-color: #D4E438;
    height: 185px;
    font-size: 25px;
    color: black;
}